.divMainUI {
overflow: auto;
}

#panelGlobal {
    display: block;
    position: fixed;
    width: 15vw;
    height: fit-content;
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#containerButtons {

    display: grid;
    grid-template-rows: 10vh 10vh 10vh;

}

.panelButton {

    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0 0 0;
    outline: none;
    border: none;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0);
    color: white;
    

}

.panelButton span {

    display: block;
    margin: auto auto auto auto;
    font-size: 2vh;

}

.panelButton img {

    width: 1.5em;
    margin: auto auto auto auto;

}

.modal {

    display: none;
    width: 90%;
    height: 90%;
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-color: rgb(230, 230, 230)
}

#modalLeyendas {

    padding: 2vh 2vw 2vh 2vw;

}

#modalLeyendasTitulo{
    text-align: right;
}

#closeModalButton{
    background-color: rgb(187, 10, 10);
    padding: 0 0.3em 0 0.3em;
    outline: none;
    border: none;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0);
    color: white;
}
#imgMapa {

    object-fit: cover;

}
